# https://developer.spotify.com/dashboard > Create App > Client ID & Secret
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# https://genius.com/api-clients > New Client > Client Access Token
GENIUS_ACCESS_TOKEN=
