---
import type { InferGetStaticParamsType, GetStaticPaths } from 'astro'
import { getCollection } from 'astro:content'
import Layout from '../layouts/Layout.astro'

export const getStaticPaths = (async () => {
  const tabs = await getCollection('tabs')

  return tabs.map((post) => ({
    params: { slug: post.slug },
  }))
}) satisfies GetStaticPaths

type Params = InferGetStaticParamsType<typeof getStaticPaths>

const params = Astro.params as Params
---

<Layout title="Tino's Tabs">
  <div class="text-stone-500">Tab!</div>
  <code>/{params.slug}</code>
</Layout>
