---
import { getCollection } from 'astro:content'
import Layout from '../layouts/Layout.astro'
import { Image } from 'astro:assets'

const tabs = await getCollection('tabs')
---

<Layout title="Tino's Tabs">
  <div class="text-stone-500">Hello there!</div>
  <ul>
    {
      tabs.map((tab) => (
        <li class="flex gap-2 items-center">
					<Image src={tab.data.albumImageURL} alt="Album Cover" class="h-5 w-5 object-cover" />
          <a href={`/${tab.slug}`}>{tab.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>