---
import { twMerge } from 'tailwind-merge'

type Props = {
  class?: string
}

const { class: className } = Astro.props
---

<span
  class={twMerge(
    'h-2 w-2 rounded-sm bg-gradient-to-t from-orange-500 to-orange-400 inline-block',
    className,
  )}></span>
