---
import { twMerge } from 'tailwind-merge'

type Props = {
  class?: string
}

const { class: className } = Astro.props
---

<span
  class={twMerge(
    'h-2 w-2 rounded-full bg-linear-to-t from-purple-500 to-purple-400 inline-block',
    className,
  )}></span>
