---
import { twMerge } from 'tailwind-merge'
import PlayIcon from './icons/PlayIcon.astro'
import SearchIcon from './icons/SearchIcon.astro'

type Props = {
  videoIDs: Array<string>
  searchQuery: string
}

const { videoIDs: urls, searchQuery } = Astro.props

// TODO add start-at support (e.g. Sanar has a full show, and should start at a certain time where the song is played)
// Should probably switch back to using the full YouTube embed links instead of the IDs
---

{
  /**
   * The same-value negative margins and paddings are to avoid cropping the
   * cards' shadows. Thus, there is a padding to make sure there is room for
   * the shadows, then a negative margin to ignore that padding, and then
   * the wrapper div with the actual margins we want for the element.
   * That invisible border? So container and inner margins don't collapse
   */
}
<div class="mb-6 mt-4 border border-transparent">
  <div
    class="-my-5 mx-[calc(-50vw+50%)] flex gap-4 overflow-x-auto px-[calc(50vw-50%)] py-5"
  >
    {
      urls.map((id) => (
        <div
          class={twMerge(
            'relative flex aspect-video max-w-[75%] shrink-0 basis-[75%] items-center justify-center rounded-xl bg-stone-50 shadow-lg',
            "after:pointer-events-none after:absolute after:inset-0 after:rounded-xl after:ring-1 after:ring-inset after:ring-black/10 after:content-['']",
            'dark:bg-stone-900 dark:after:ring-white/10 ',
          )}
        >
          <PlayIcon
            class={twMerge(
              'absolute h-20 w-20 text-stone-200',
              'dark:text-stone-800',
            )}
          />
          <iframe
            class="relative aspect-video w-full rounded-xl"
            src={`https://www.youtube.com/embed/${id}`}
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          />
        </div>
      ))
    }

    <a
      href={`https://www.youtube.com/results?search_query=${searchQuery.replace(
        ' ',
        '+',
      )}`}
      target="_blank"
      class={twMerge(
        'flex aspect-video max-w-[75%] flex-1 shrink-0 basis-[75%] cursor-pointer flex-col items-center justify-center gap-2 rounded-xl border border-stone-300 p-4 font-medium text-stone-500 shadow-[0_1px_0_theme(colors.stone.300),0_2px_2px_0_rgb(0_0_0_/_0.05)] transition-all',
        'hover:bg-stone-50',
        'active:translate-y-[1px] active:bg-stone-50 active:shadow-none',
        'dark:border-stone-600 dark:shadow-[0_1px_0_theme(colors.stone.600)] dark:bg-stone-900 dark:text-stone-300 dark:hover:bg-stone-800 dark:active:bg-stone-800',
      )}
    >
      Search on YouTube
      <span
        class={twMerge(
          'flex max-w-full items-center gap-1.5 rounded-full bg-stone-100 py-1 pl-2 pr-3 text-sm',
          'dark:bg-stone-700',
        )}
      >
        <SearchIcon
          class={twMerge(
            'w-4 h-4 shrink-0 text-stone-400',
            'dark:text-stone-400',
          )}
        />
        <span class="truncate">
          {searchQuery}
        </span>
      </span>
    </a>
  </div>
</div>
